body {
    font-family: 'Inter', sans-serif;
    line-height: 1;

    color: var(--primaryTextColor);

    background-color: var(--primaryBgColor);
}

.body {
    transition: background-color $fastTransition;
}