.modal {
    width: 100%;
    min-height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    background-color: var(--modalBgColor);

    transition: background-color $fastTransition, opacity $fastTransition, visibility $fastTransition;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    body[data-modal-open] & {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    // .modal__form

    &__form {
        display: flex;
        flex-direction: column;
        width: calc(100% - 2 * 15px);
        max-width: 640px;
        height: 80vh;
        padding: 60px 50px 40px;

        overflow: auto;

        @include mediaMaxWidth(730px) {
            padding: 40px 30px 30px;
        }

        @include mediaMaxWidth(500px) {
            padding: 40px 15px 30px;
        }

        background-color: var(--secondaryBgColor);
        border: 2px solid $borderColor;
        border-radius: $borderRadius;

        transition: background-color $fastTransition;

        position: fixed;
        top: 100px;
        left: 50%;
        z-index: 2;

        transform: translate(-50%, 0);
    }

    // .modal__panel

    &__panel {
        width: 100%;
        display: flex;
        margin-top: auto;
    }

    // .modal__buttons

    &__buttons {
        display: flex;
        margin-left: auto;

        @include mediaMaxWidth(500px) {
            width: 100%;
            justify-content: space-between;
            margin-left: 0;
        }
    }

    // .modal__button 

    &__button {

        @include mediaMaxWidth(500px) {
            min-width: 130px;

            &:last-child {
                margin-left: auto;
            }
        }

        &:not(:last-child) {
            margin-right: 15px;
        }
    }

    // .modal__controls

    &__controls {
        display: flex;
        align-items: center;

        @include mediaMaxWidth(500px) {
            margin-right: auto;
        }
    }

    // .modal__control

    &__control {
        @extend %button-reset;

        width: 30px;
        height: 30px;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    // .modal__icon 

    &__icon {
        width: 30px;
        height: 30px;

        fill: var(--iconFill);

        opacity: 0.4;

        transition: opacity $fastTransition, fill $fastTransition;
        
        .modal__control:hover & {
            fill: $accentColor;
            opacity: 1;
        }
    }
}